.alert {
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	color: #000;
	margin: 0 auto;
	font-family: tahome, Arial,sans-serif;
}

.alert__sub {
	color: #04badc;
	font-weight: 900;
	font-family: tahome, Arial,sans-serif;
}